@font-face {
    font-family: 'IndieFlower';
    src: url(./fonts/IndieFlower-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 300px;
    width: 99%;
    background-image: url(./images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 5px rgba(0, 0, 0, 0.168) solid;
    border-radius: 1vw;
    margin: 0.5vw 0.5vw 0.5vw 0.5vw;
    
}

header > a {
    background-color: black;
    color: white;
    padding: 0.4vw;
    position: absolute;
    bottom: 10px;
    left: 10px;
    border-radius: 0.4vw;
    text-decoration: none;
    transition: transform 0.3s ease;
}

header > a:hover {
    transform: scale(1.2);
}

header > a:active {
    transform: scale(1.5);
}

header > h1 {
    margin: 0;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    font-family: IndieFlower;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.421);
    padding: 0.3vw 2vw 0.3vw 2vw;
    border-radius: 0.5vw;
}

header > img {
    /* width: 25%; */
        /* top: 5%;
    left: 40%;
    margin-top: 1%;
    position: absolute; */
    padding: 0.4vw;
    position: absolute;
    bottom: -18%;
    left: 50%;


    transform: translateX(-50%);
}

header > nav {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

header > nav > ul {
    display: flex;
    list-style: none;
}

header > nav > ul > li {
    background-color: rgb(0, 0, 0);
    margin: 2px;
    padding: 7px;
    border-radius: 7px;
}

header > nav > ul > li > a {
    color: white;
    padding: 1px;
    text-decoration: none;
}

header > section {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

header > section > a > img {
    width: 40px;
    height: 40px;
    border-radius: 0.6vw;
}

footer {
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 30px 5px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.925);
    position: fixed;
    bottom: 0;
    
}

footer > p {
    color: white;
}

footer > p > a {
    color: white;
    text-decoration: none;
}

footer > section > a > img {
    display: inline-block;
    width: 2%;
    padding: 3px;
    border-radius: 0.8vw;
}