.fotosContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;
    margin-top: 12vh;
}

.fotosContainer h3 {
    font-size: 6vh;
    justify-self: center;
    margin-bottom: 5vh;
    margin-top: 2vh;
}

#seccionFotos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vh;
    width: 90%;
}
